/* Remove blue border around form fields in firefox */
input:focus,
input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

nav {
  background-color: #1a4f94;
  color: #fff;
  height: 90px;
  padding: 17px 20px 0 20px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  list-style: none;
  font-size: 0.8em;
  font-weight: bold;
  text-shadow: 1px 1px #333;
}

nav li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 8px;
}

nav li a:hover {
  color: yellow;
  text-decoration: none;
}

.logo {
  padding: 0 25px 0 0;
}

.header {
  flex-grow: 2;
  font-size: 1.3em;
  padding: 15px 0 0 20px;
  background-color: #1a4f94;
  border-left: 1px solid #c7c7c7;
  text-shadow: 2px 2px 2px #444;
}

.container {
  max-width: 450px;
  margin-bottom: 100px;
}

.avatar-ctn {
  text-align: center;
  background-color: orange;
  border-radius: 5px 5px 0 0;
}

.avatar {
  width: 65%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}